package home

import "math-quiz/internal/view/layout"

type HomeProps struct {
	BaseURL string
}

templ Index(props HomeProps) {
	@layout.Base(layout.BaseProps{Title: "Математический тренажёр", BaseURL: props.BaseURL}) {
	}
}
